# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [1]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [2]:
first_series = pd.Series([2,4,6,8,10])
print(first_series)

0     2
1     4
2     6
3     8
4    10
dtype: int64

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [5]:
DF_dict = pd.DataFrame({'GDP % change in 2019': [3.0,2.0,2.1,2.1], 'Interest rates in 2019' :[2.0, 1.75, 1.50, np.nan]})
DF_dict

   GDP % change in 2019  Interest rates in 2019
0                   3.0                    2.00
1                   2.0                    1.75
2                   2.1                    1.50
3                   2.1                     NaN

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [57]:
names = ("Joshua", "Ricky1", "Ricky2","Evan", "Gunnar", "Dane", " Student 7", "Student 8", "Student 9", "Student 10" )
AFSgrades = pd.DataFrame(np.random.normal(0.85, .2, (10, 5)), index=names, columns=('Midterm','Final Exam','Project','Homework','Extra Credit'))
AFSgrades

             Midterm  Final Exam   Project  Homework  Extra Credit
Joshua      0.924358    0.681314  0.415795  0.837278      0.879465
Ricky1      0.790275    0.782980  0.794166  0.640902      1.153082
Ricky2      0.531315    0.499932  1.013948  0.906259      0.853207
Evan        0.774766    0.682391  0.748156  0.758017      0.719278
Gunnar      0.740262    0.769576  0.959184  0.829333      0.813841
Dane        0.917802    1.194416  0.909970  1.072331      0.899603
 Student 7  0.842724    0.339088  0.833490  0.730332      0.892574
Student 8   1.070380    0.764092  1.076350  0.911246      0.586072
Student 9   0.641720    0.721592  0.757965  0.630966      1.068818
Student 10  0.491555    0.624097  0.578749  0.822275      0.953479

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [73]:
# Must put a r before path because this is converts my normal string to a raw string
iris = pd.read_csv(r"C:\Users\Joshu\afs505_u2\iris.csv")

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [103]:
iris.head(10)
iris.tail(10)

AFSgrades.head()
AFSgrades.tail()

             Midterm  Final Exam   Project  Homework  Extra Credit
Dane        0.917802    1.194416  0.909970  1.072331      0.899603
 Student 7  0.842724    0.339088  0.833490  0.730332      0.892574
Student 8   1.070380    0.764092  1.076350  0.911246      0.586072
Student 9   0.641720    0.721592  0.757965  0.630966      1.068818
Student 10  0.491555    0.624097  0.578749  0.822275      0.953479

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [117]:
iris
AFSgrades
iris.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
24            4.8          3.4           1.9          0.2      setosa
136           6.3          3.4           5.6          2.4   virginica
26            5.0          3.4           1.6          0.4      setosa
138           6.0          3.0           4.8          1.8   virginica
72            6.3          2.5           4.9          1.5  versicolor

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [113]:
print(pd.__version__)
iris_dict = pd.read_csv(r"C:\Users\Joshu\afs505_u2\iris.csv", index_col=0, squeeze=True).to_dict()
iris_dict 


#didn't work with my DataFrame
AFS_dict=AFSgrades.to_dict()
AFS_dict

iris.describe()
AFSgrades.describe()

0.25.1

         Midterm  Final Exam    Project   Homework  Extra Credit
count  10.000000   10.000000  10.000000  10.000000     10.000000
mean    0.772516    0.705948   0.808777   0.813894      0.881942
std     0.180555    0.220378   0.200273   0.132978      0.161056
min     0.491555    0.339088   0.415795   0.630966      0.586072
25%     0.666355    0.638402   0.750608   0.737253      0.823682
50%     0.782520    0.701991   0.813828   0.825804      0.886019
75%     0.899032    0.768205   0.946880   0.889013      0.940010
max     1.070380    1.194416   1.076350   1.072331      1.153082

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [142]:
#df.loc[row_start:row_end, column_start:column_end] <-- proper syntax 

iris.loc[0:0]     # Gets the first row
iris.loc[0:5]    # Gets the first 5 rows


iris_df.loc[[4,6], ['sepal_width', 'petal_width']]   #Grabs specific columns
iris_df.loc[4:6, ['sepal_width', 'petal_width']]     #Grabs a range of columns

   sepal_width  petal_width
4          3.6          0.2
5          3.9          0.4
6          3.4          0.3

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [141]:
#iris.iloc[:,0]          #Grabs the first column
#iris.iloc[3]            #Grabs the first 3 rows

iris.iloc[10:15, :-3]    #Grabs rows 10-15 and excludes the last 3 columns
#iris.columns           #Gets column names

iris_df.loc[4:6, 'sepal_width': 'petal_width']

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [158]:
#iris_df.loc[[4,6], ['sepal_width', 'petal_width']]   #Grabs specific columns
#iris_df.loc[4:6, ['sepal_width', 'petal_width']]     #Grabs a range of columns



subset = iris.loc[1:10, ['sepal_width', 'petal_length']] > 1.4
subset                                                             #Nice job

    sepal_width  petal_length
1          True         False
2          True         False
3          True          True
4          True         False
5          True          True
6          True         False
7          True          True
8          True         False
9          True          True
10         True          True